.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 24px;
  font-family: "poppins SemiBold";
}
.profile-details-role {
  flex-direction: column;
  display: flex;
  margin: 14px;
}
.profile-details-role h1 {
  font-size: 18px;
  font-family: "cursive";
}
.primary-text {
  color: (--white);
}
.highlight-text {
  color: (--dark-orange);
}
.profile-role-tagline {
  font-size: 15px;
  margin: 0 0 0 0;
  font-family: "poppins Light";
}
.profile-options,
.highlight-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlight-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-image-background {
  height: 92%;
  width: 92%;
  background-image: url("../../../assets/Home/profile.jpg");
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.profile-image-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.colz .colz-icon i {
  color: aliceblue;
  padding: 8px;
  padding-left: 0px;
}
.colz .colz-icon i:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1110px) {
  .profile-image {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media screen and (max-width: 910px) {
  .profile-image {
    height: 320px;
    width: 320px;

    margin: 0 0px 0 4px;
  }
}

@media screen and (max-width: 810px) {
  .profile-image {
    /* height: 320px;
        width: 320px; */
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options,
  .profile-details-role {
    text-align: center;
  }
  .profile-options,
  .highlight-btn {
    margin: 0 !important;
  }
}

@media screen and (max-width: 375px) {
  .profile-image {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }

  .profile-details {
    width: 90%;
  }
}
